<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- 구글 머티리얼 아이콘 -->
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

  <style>
    * {
      box-sizing: border-box;
    }
    .form-input{
      width: 100%;
      outline: none;
    }

  </style>
</head>
<body>
  <div class="login-background">
    <div class="login-container">
      <div class="id-box">
        <input type="text" id="id" class="form-input">
        <label for="id" class="text-label">아이디 또는 전화번호</label>
      </div>
      <div class="pw-box">
        <input type="password" id="pw" class="form-input">
        <label for="pw" class="text-label">비밀번호</label>
        <span class="material-symbols-outlined icon-eye">visibility_off</span>
      </div>

      <button type="button" class="btn">로그인</button>
      <button type="button" class="btn">회원가입</button>
    </div>
  </div>
</body>
</html>